.container{
  position: relative;
}
.popup {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  opacity: 0;
  top: -10000px;
  &__active{
    opacity: 1;
    top: 0px;
  }
  &__overlay{
    background-color: rgba(0,0,0,0.8);
  }
  &__container{
    max-width: 728px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 40px;
    background: $lightgray no-repeat;
  }

  &__body{
    max-width: 648px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 40px 65px 40px 40px;
  }

  &__header {
    height: 318px;
    background:url(images/headform.jpg);
    background-position: center;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    padding: 40px 42px 24px 42px;
    margin-bottom: -126px;
    @include tablets {
      margin-bottom: 0px;
      max-width: 648px;
      margin: 0 auto;
      height: auto;
    }
  }
}
.close {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 14px;
  background-color:rgba(0, 0, 0, 0.2);
  &__icon{
    fill: #ffffff;
    width: 16px;
    height: 16px;
  }
}
.greeting{
  color: $red;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  @include tablets{
    display: none;
  }
}
.title{
  font-weight: 800;
  color: #ffffff;
  font-size: 48px;
}
legend{
  font-size: 24px;
  line-height: 32px;
  font-weight: 800;
  padding-bottom: 14px;
}
.form{
  &__field{
    position: relative;
    width: 100%;
  
    &.input-filled .label{
      top: 20px;
      font-size: 12px;
    }
  }

  &__row {
    display: flex;
    margin-bottom: 20px;
    @include tablets {
      flex-direction: column;
    }
  }

  &__column {
    flex: 1;
  }

  &__column:not(:first-child){
    margin-left: 30px;
    @include tablets {
      margin-left: 0px;
      margin-top: 20px;
    }
  }

  &__info{
    font-size: 12px;
    line-height: 18px;
    color: $darkgray;
  }

  &__checkbox {
    position: relative;
    display: block;
    font-size: 12px;
    color: $darkgray;
    padding-bottom: 12px
  }

}
.button{
    font-size: 14px;
    font-weight: 800;
    color: #000000;
    border: 3px solid $gray;
    padding: 15px 24px 14px 24px;
    background-color: #ffffff;
    cursor: pointer;
    
    &:hover{
      background-color: $lightgray;
    }
}
.input-text{
  @include input;
  @include placeholder{
    color: $gray;
  };
}
.label{
  position: absolute;
  top: 50%;
  left: 18px;
  font-weight: 800;
  color: $gray;
  transform: translateY(-50%);
}
.error {
  display: none;
  position: absolute;
  font-size: 12px;
  font-weight: 600;
  color: $red;
}
.checkbox{
  &__label {
    display: flex;
    align-items: center;
  }
  &__text{
    padding-left: 20px;
    // text-align: center;
    &:before{
      content: '';
      display: inline-block;
      width: 10px;
      padding-left: 2px;
      height: 12px;
      position: absolute;
      left: 0;
      top: -1px;
      border: 2px solid #666666;
      @include tablets{
        padding-left: 1px;
        padding-right: 1px;
      }
    }
  }
  &__input:checked + &__text{
    &:before{
      content: url(data:image/svg+xml;charset=utf-8,%3Csvg%20%20height%3D%228%22%20viewBox%3D%220%200%20515.556%20515.556%22%20width%3D%228%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22m0%20274.226%20176.549%20176.886%20339.007-338.672-48.67-47.997-290.337%20290-128.553-128.552z%22%2F%3E%3C%2Fsvg%3E);
      // content: "✔";
    }
  }
  &__input{
    position: absolute;
    clip: rect(0 0 0 0);
  }
}