html{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	@include tablets {
		font-size: 14px;
	}
}
body{
	font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
	font-weight: normal;
}
ul{
	padding: 0;
	margin: 0;
	li{
		list-style: none;
	}
}
*{
	box-sizing: border-box;
}